{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} System AI Detection  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'member_info_capture/style.css' %}">
</head>

<body>
<header>
    <h1>System AI Detection</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>© 2023 System AI Detection. All rights reserved.</p>
</footer>
</body>
</html>
