{% extends 'member_info_capture/base.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'member_info_capture/style.css' %}">
{% endblock %}
{% block content %}
<h1> Welcome to the Seminar Registration System</h1>
<p>This is the landing page of our System. You can navigate to different section:</p>
<ul>
    <li><a href="{% url 'member_info_capture' %}">Member Info Capture</a></li>
    <li><a href="{% url 'find_user' %}">Find User</a></li>
    <li><a href="{% url 'member_info_capture_success'}">Member info captured Successfully</a></li>
</ul>
{% endblock %}
